<!DOCTYPE html>
<html lang="en">
<head>
    <title>Attempt Quiz</title>
</head>
<body>
    <h1>{{ quiz.date_of_quiz }} Quiz</h1>

    <form method="POST">
        {% for question in questions %}
            <fieldset>
                <legend>{{ question.question_statement }}</legend>

                <input type="radio" name="{{ question.id }}" value="1"> {{ question.option1 }}<br />
                <input type="radio" name="{{ question.id }}" value="2"> {{ question.option2 }}<br />
                <input type="radio" name="{{ question.id }}" value="3"> {{ question.option3 }}<br />
                <input type="radio" name="{{ question.id }}" value="4"> {{ question.option4 }}<br />
            </fieldset>
        {% endfor %}
        <button type="submit">Submit Quiz</button>
    </form>

</body>
</html>